
.inputRadioHeaderShell {
    height: 60px;
    vertical-align: middle;
}

.inputRadioHeader {
    text-align: center;
    margin-bottom: 3px;
}

.inputRadioImg {
    width: 100px;
}

.inputRadioImgShell {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.inputRadio {
    display: none;
}

.insteadRadio {
    margin: auto;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #d5dde9;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

.inputRadio:checked + .insteadRadio:after {
    opacity: 1;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.inputRadio:hover + .insteadRadio:after {
    opacity: 1;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.insteadRadio:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #030437;
    width: 17px;
    height: 17px;
    opacity: 0;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}